:root {
    --cpr: #aa1f23;
    --history: #bd762a;
    --math: #a42249;
    --english: #b8ae74;
    --coolidge: #015a84;

    /* hover shadows */
    --cpr-hover: #dc1f26;
    --history-hover: #f5c38f ;
    --math-hover: #ef3e55;
    --english-hover: #faf7b1;
    --coolidge-hover: #d1bfa1;
}
 
#graphic-design .inner-gallery-wrapper  {
    box-shadow: none;
    background-color: transparent;
    gap: 1rem;
}

#graphic-design .gallery-img {
    --_bg-color: var(--tertiary);
    --_shadow: 0 0 .75rem;
    box-shadow: var(--_shadow) var(--_bg-color);
    border-radius: 1rem;
    transition: box-shadow 0.5s ease-in-out;

    &[data-title="cpr"] {
        --_bg-color: var(--cpr);     
    }
    &[data-title="history"] {
        --_bg-color: var(--history);
    }
    &[data-title="math"] {
        --_bg-color: var(--math);   
    }
    &[data-title="english"] {
        --_bg-color: var(--english);
    }
    &[data-title="coolidge"] {
        --_bg-color: var(--coolidge);
    }

    &:hover {
        --_bg-color: var(--primary);
        --_shadow: 0 0 1rem;
    }
    &[data-title="cpr"]:hover {
        --_bg-color: var(--cpr-hover);
    }
    &[data-title="history"]:hover {
        --_bg-color: var(--history-hover);
    }
    &[data-title="math"]:hover {
        --_bg-color: var(--math-hover);
    }
    &[data-title="english"]:hover {
        --_bg-color: var(--english-hover);
    }
    &[data-title="coolidge"]:hover {
        --_bg-color: var(--coolidge-hover);
    }
}