header {
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    width: 100vw;
    padding: .5rem;
    gap: .5rem;
}

#logo-container {
    justify-content: center;
}

#logo {
    height: .75rem;
    margin-top: .25rem;
}

.site-nav {
    flex-grow: 1;
}

#navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.page {
    transition: color 0.5s ease-in-out;
}

.page.active {
    color: var(--quaternary);
}

@media screen and (min-width: 1024px) {
    header {
        flex-direction: row;
        gap: 5vw;
    }

    #logo {
        height: 1rem;
    }

    #navigation {
        justify-content: space-around;
    }
}