:root {
    --scroll-speed-a: 10s;
    --scroll-speed-b: 15s;
}
main:has(#homepage) {
    justify-content: center;
}

#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin-inline: .5rem; 
    align-items: center;
}

.portfolio-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.portfolio {
    width: 100%;
    border-radius: .25rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .25rem 0 var(--tertiary);
    transition: box-shadow 0.5s ease-in-out;
}

.portfolio:nth-child(even) .portfolio-img {
    animation: bg-scroll-right-to-left var(--scroll-speed-a) infinite alternate;
}

.portfolio:nth-child(odd) .portfolio-img {
    animation: bg-scroll-left-to-right var(--scroll-speed-b) infinite alternate ;
}

.portfolio:hover,
.portfolio:focus {
    /* outline: 2px solid var(--quaternary); */
    box-shadow: 0 0 1rem var(--quaternary);
    & p {
        color: var(--quaternary);
        text-shadow: 
        0 0 2rem rgba(255, 255, 255, 0.25),
        0 0 1rem var(--quaternary);
    }
}

.portfolio p {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 1rem;
    z-index: 1;
    padding: 0 1rem;
    background-color: var(--tertiary);
    color: var(--primary);
    width: 100%;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

.portfolio-img--placeholder {
    background-color: var(--tertiary);
    opacity: 0.35;
    pointer-events: none;
}

.portfolio-img {
    border-radius: inherit;
    width: 100%;
    height: 41.25vh;
    object-fit: cover;
    /* object-position: center; */
    position: relative;
    z-index: 0;
}

@keyframes bg-scroll-left-to-right {
    0% {
        object-position: 10%;
    }
    100% {
        object-position: 90%;
    }
}

@keyframes bg-scroll-right-to-left {
    0% {
        object-position: 90%;
    }
    100% {
        object-position: 10%;
    }
}

@media screen and (min-width: 768px) {
    .portfolio p {
        font-size: 1.25rem;
    }
    .portfolio-img {
        height: 42.5vh;
    }
}

@media screen and (min-width: 1024px) {
    #homepage {
        display: flex;
    }

    .portfolio-img {
        height: 85vh;
    }
}