:root {
    /* days series gradients */
    --days-01: linear-gradient(to left, #cab6a0, #674b3c, #505048);
    --days-02: linear-gradient(to left, #e3c5b1, #f4bbdd, #306275, #10442c);
    --days-03: linear-gradient(to left, #ff8643, #d8dcb0, #00e6e7);
    --days-04: linear-gradient(to left, #f3dead, #e9b87d, #071f5f);
    --days-05: linear-gradient(to left, #1c5e8e, #00a4d1, #efd598);
    --days-06: linear-gradient(to left, #ece289, #f1a0eb, #52caed);
    --days-07: linear-gradient(to left, #54dfe4, #b3bdcc, #c0a48c);

    /* bluestrawberry series gradients */
    --bluestrawberry-01: linear-gradient(to left, #061539, #306678, #34203a, #ff69a0, #b65435, #ffda70);
    --bluestrawberry-02: linear-gradient(to left, #75b4a3, #3f68a0, #121818, #46244c, #9b7173, #fff772);

    /* city-life series gradients */
    --city-life-01: linear-gradient(to left, #6c7981, #1e4649, #d7d3a2, #090d00);
    --city-life-02: linear-gradient(to left, #13181b, #8e7831, #315362, #5b3203);
    --city-life-03: linear-gradient(to left, #a5984d, #c1c68e, #97c48d, #26402e);
    --city-life-04: linear-gradient(to left, #b2926e, #4f4c42, #3c641c, #463130);
}

.outer-gallery-wrapper {
    &.days-01 {
        --_bg-gradient: var(--days-01);
    }

    &.days-02 {
        --_bg-gradient: var(--days-02);
    }

    &.days-03 {
        --_bg-gradient: var(--days-03);
    }

    &.days-04 {
        --_bg-gradient: var(--days-04);
    }

    &.days-05 {
        --_bg-gradient: var(--days-05);
    }

    &.days-06 {
        --_bg-gradient: var(--days-06);
    }

    &.days-07 {
        --_bg-gradient: var(--days-07);
    }

    &.bluestrawberry-01 {
        --_bg-gradient: var(--bluestrawberry-01);
    }

    &.bluestrawberry-02 {
        --_bg-gradient: var(--bluestrawberry-02);
    }

    &.city-life-01 {
        --_bg-gradient: var(--city-life-01);
    }

    &.city-life-02 {
        --_bg-gradient: var(--city-life-02);
    }

    &.city-life-03 {
        --_bg-gradient: var(--city-life-03);
    }

    &.city-life-04 {
        --_bg-gradient: var(--city-life-04);
    }
}

.inner-gallery-wrapper[data-series="bluestrawberry"] {
    height: 70vh;
    gap: 1rem;
    box-shadow: none;
}

.inner-gallery-wrapper[data-series="bluestrawberry"] .gallery-img {
    border-radius: 1rem;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
    .md-hide {
        display: none;
    }
}
