* {
    outline: 1px blue dotted;
}

#about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;
}

.section-header {
    /* width: 55vw; */
    border-radius: 0 0 10vh 0;
    padding-left: 1rem;
    grid-column: span 2;
}

#profile-pic {
    border-radius: 50%;
    height: 40vw;
    margin: .25rem;
}