body {
  background-color: var(--secondary);
}

.mobile-hide {
  display: contents;
}

.tablet-hide {
  display: contents;
}

/* RESUME */
#resume {
  color: var(--tertiary);
  padding: 20px 60px;
  align-items: center;
}

#resume a {
  color: var(--tertiary);
  transition-duration: 2s;
}

#resume a:hover {
  color: var(--quaternary);
}

#resume-header {
  margin-bottom: 25px;
}

#resume-header article * {
  width: 33%;
}

#resume-header-top,
#resume-header-bottom {
  display: flex;
  justify-content: space-between;
}

.resume-header-center,
#resume-footer {
  text-align: center;
}

.resume-header-right {
  text-align: right;
}

.section-headers {
  border-top: 2px solid var(--tertiary);
  border-bottom: 2px solid var(--tertiary);
  border-left: 2px solid var(--tertiary);
  padding: 10px 25px;
}

.flex {
  display: flex;
  line-height: 1.5;
}

.resume-layout {
  border-right: 2px solid var(--tertiary);
  justify-content: space-between;
}

.resume-layout p {
  padding: 5px 10px;
}

.sub {
  color: var(--secondary);
}

.year {
  border-right: 1px solid var(--tertiary);
}

.right {
  text-align: right;
}

/* RESUME FOOTER */
#resume-footer {
  padding: 15px;
}

.mobile-view {
  display: none;
}


/* SMALL DESKTOP & TABLET DISPLAY */
@media screen and (max-width: 1024px) {
  .resume-layout {
    font-size: 90%;
  }

  .tablet-hide {
    display: none;
  }

  #resume-header p,
  #resume-header h2 {
    width: 100%;
  }
}


/* MOBILE VIEW */
@media screen and (max-width: 575px) {
  #resume-link,
  .mobile-hide,
  .location {
    display: none;
  }

  .mobile-view {
      display: inline;
  }

  #github-link {
    display: inline;
  }

  #resume {
    display: block;
    padding: 10px;
    justify-content: center;
  }

  #resume-header-top {
    display: inline-block;
    width: 100%;
  }

  #resume-header p,
  #resume-header h2 {
    width: 100%;
  }

  #resume-header-bottom {
    display: block;
    padding: 5px 0;
  }

  .resume-header-right {
    text-align: center;
  }

  .exp p {
    font-size: 1.75vh;
  }

  .resume-layout {
    width: 100%;
  }
}
