:root {
  --primary: #e6e6e6;
  --secondary: #9b97979c;
  --tertiary: #28282c;
  --quaternary: #cf0b0b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  font-weight: lighter;
  text-decoration: none;
  transition-duration: 1s;
}

/* mobile first */

.flex {
  display: flex;
  justify-content: center;
}

/* dark on light */
.dark {
  background-color: var(--tertiary);
  color: var(--primary);
  text-decoration: none;
}

.dark a {
  color: var(--primary);
}

.dark a:hover {
  color: var(--quaternary);
}

/* header */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  width: 100vw;
  box-shadow: 5px 5px 5px var(--secondary);
}

#logo {
  width: 80vw;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

li {
  padding: 1vw;
}

/* footer */
footer {
  font-size: 75%;
}

footer, 
h2,
.card {
  text-align: center;
}

/* main */
.container {
  padding: 2.5%;
}

.subhead {
  padding: .5vh;
  margin-bottom: 5px;
}

.shadow {
  box-shadow: 5px 5px 15px var(--tertiary);
}

/* main | hero */
#hero img {
  width: 100%;
}

/* main | about */
#me {
  border-radius: 75px;
  padding: 15px;
  align-items: center;
}

#profile-text {
  padding-left: 4vw;
}

#profile-pic {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 5px 0 10px var(--secondary);
}

#profile-pic:hover {
  box-shadow: 5px 0 10px var(--quaternary);
}

/* main | portfolios */
.card,
.card * {
  border-radius: 25px;
}

.card {
  justify-content: center;
  padding: 2.5%;
}

.card a {
  padding: 0;
}

.card img {
  padding: 0;
  width: 100%;
}

.card:hover {
  background-color: var(--secondary);
  color: var(--quaternary);
}
