:root {
  --primary: #e6e6e6;
  --secondary: #9b97979c;
  --tertiary: #28282c;
  --quaternary: #cf0b0b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  font-weight: lighter;
  text-decoration: none;
  transition-duration: 1s;
}

/* mobile first */
.flex {
  display: flex;
  justify-content: center;
}

.desktop {
  display: none;
}

/* dark on light */
.dark {
  background-color: var(--tertiary);
  color: var(--primary);
  text-decoration: none;
}

.dark a {
  color: var(--primary);
}

.dark a:hover {
  color: var(--quaternary);
}

.shadow {
  box-shadow: 5px 5px 15px var(--tertiary);
}

.sub {
  color: var(--secondary);
}

/* header */
#header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  width: 100vw;
}

#logo {
  width: 50vw;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

li {
  padding: 1vw;
}

/* footer */
#footer {
  font-size: 75%;
}

#footer,
h2,
.card,
.artwork-card {
  text-align: center;
}

/* main */
.container {
  padding: 2.5%;
}

.subhead {
  padding: .5vh;
  margin: 2vh 0;
}

/* main | hero */
#hero img {
  width: 100%;
}

/* main | about */
#me {
  border-radius: 75px;
  padding: 15px;
  align-items: center;
  display: flex;
}

#profile-text {
  padding-left: 4vw;
}

#profile-pic {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 5px 0 10px var(--secondary);
}

#profile-pic:hover {
  box-shadow: 5px 0 10px var(--quaternary);
}

/* main | portfolios */
.card,
.artwork-card {
  justify-content: center;
  padding: 10px 15px;
}

.card:hover {
  background-color: var(--secondary);
  color: var(--quaternary);
}

.card,
.card *,
.artwork-card,
.artwork-card *,
.portfolio
{
border-radius: 20px;
}

.card img,
.artwork img {
  width: 100%;
}


/* main | contact */
#contact-links {
  justify-content: space-between;
}

#contact-links img {
  display: none;
}

/* portfolio | fineart */
.artwork {
  border-bottom: 1px solid var(--tertiary);
}

.artwork-details {
  padding-bottom: 10px;
}
.artwork-title {
  font-weight: bold;
}

/* portfolio | illustration */
#illustration-portfolio .artwork {
  border-bottom: none;
}

.series-header {
  padding-bottom: 1vh;
}